*{
    box-sizing: border-box;
}

body {
    /* background-color: #4f0c17; */
    color: #eae0d5;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(#0a0908, #22333b);
    height: 100vh;
}
.container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
header {
    font-family: 'Orbitron', sans-serif;
    font-weight:800 ;
    font-size: 20px;
    margin-right: 22px;
    margin-top: 40px;
}

.status {
    width:620px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 20px;

}

.turn{

}

.turn-color {
    color: red;
}

.time {
    margin-right: 25px;
}


.board {
   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 600px;
    height: 600px;
    border:14px solid transparent;
     
    /* margin-right: 80px; */
}

.square {
  /* height: 80px;
  width: 80px; */ 
  
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .light {
    background-color: #000000;

}

.dark {
    background-color: #ec7f03;

} */

.piece {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    
}


.white {
    background-color: #eae0d5;
    border: 4px solid #f6ae2d;
}

.red {
    background-color: #bf4342;
    border: 4px solid #8c1c13;
}
button {
    background-color: yellow;
    color: black;
    border: 0.4vmin solid black;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 4vmin;
    height: 5vmin;
    width: 20vmin;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;

}
.player-points{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #470bc7; */
    font-size: 30px;
}
.points{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* background-color: #08a18a; */
    width: 600px;
}

.player1 {
    color:red;
}
.player2 {
    color:white;
}

.king {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22333b;
    font-weight: bold;
}

.player-won {
    margin-top: -10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    padding: 10px;    
    
}

.time-won {
    margin-right: 256px;
    position: relative;
    bottom: 15px;
    font-size: 25px;
}